################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LinguaHelper/bin
/LinguaHelper/obj/Debug
/LinguaHelper/obj/x86/Debug
/LinguaHelper/obj/x86/Release
/packages
/TestProj/bin/x86
/TestProj/obj
/.vs/LinguaHelper/v16
