/*@media (prefers-color-scheme: light) {
}
*/
/*backgrounds*/
.jTj8gd.XzOhkf .a2Icud, #gb, .gb_qa .gb_Kd.gb_Sd.gb_Td, .RvYhPd.Q5Onnd, .RvYhPd.dtohSe, .RvYhPd::before, body, .frame, .ita-hwt-jfk-standard, .history-top-header .history-top-bar, .history-container .info-bar, .phrasebook-top-header, .phrasebook-container .nav-bar, .gb_fd .gb_F, .gb_3d, .RvYhPd, .MmZJl, .aCQag, .ccvoYb, .WFnNle, .I87fLc.XzOhkf, .ySES5, .myVd4c .ySES5, .yFQBKb {
    background: #292929 !important;
}

.kiSRoe, .eYhTcb, .LpQB8e, .NdeSHd, .AzKM4, .B3AePc, .rJfKsc, .KskmCc, .EO28P, .KjuTac, .DNFg3e {
    background-color: #292929 !important;
}

.Pt010b .a2Icud, .SMqeCb, .DLAnyc, .gb_rb.gb_rb, .UxtXRb, .ZwgMLb, .k5v5Nb, .rm1UF, .P6w8m:not(.BDJ8fb):not(.Jj6Lae), .ita-kd-dropdown-menu, .vk-box, .vk-btn, .ita-hwt-ime, .ita-hwt-buttons, .ita-hwt-candidates, .gb_Ic, .gb_Bc, .dykxn.MeCBDd.j33Gae, .oJweqc.KKjvXb, .QcsUad, .NWlwsb, .CLKk4c {
    background: #292929 !important;
}

.NBY4Kb, .j27i7, .tvua2, .uojYg, .RstnCb, .SL5JTc, .fMHXgc {
    background: #292929 !important;
}

    .tvua2:hover, .tvua2.BvgNAf {
        background-color: #292929 !important;
    }

.sUGHdf {
    background: #292929;
}

.ordo2:hover, .ordo2:focus, .vk-btn.vk-sf-a, .tAzJq:hover, .kgnlhe.FwR7Pc, .MtFg0.FwR7Pc, .qSb8Pe:hover, .jCAhz.C1N51c, .jCAhz:hover, .JLqJ4b.C1N51c, .JLqJ4b:hover, .Xcmxjb.FwR7Pc {
    background-color: #292929 !important;
}

.ordo2.KKjvXb, .WtlSJf.KKjvXb {
    background-color: #292929;
}

.JLqJ4b.C1N51c, .JLqJ4b:hover, .Xcmxjb.FwR7Pc {
    background-color: #292929;
}

.QcsUad.BDJ8fb:not(.Jj6Lae), .oJweqc:hover {
    background-color: #292929 !important;
}

.gb_sa, .tVwEyf:hover:not(:disabled), .tVwEyf:focus:not(:disabled), .gt-cc-t {
    background: #292929 !important;
}

.vk-btn.vk-sf-h, .vk-btn.vk-sf-s, .ita-hwt-candidate-hover, .ita-hwt-jfk-standard.ita-hwt-jfk-hover, .WtlSJf:hover {
    background: #292929;
}

.ita-kd-menuitem-hover {
    background: #292929 !important;
}

    .X4DQ0::after {
        background: transparent !important;
    }

.Bcbxbe.FwR7Pc {
    background-color: #292929;
}

    .ls-wrap .sugg-fade {
        background: -webkit-linear-gradient(left,rgba(255,255,255,0),#1b2022);
    }

.ita-hwt-close {
    background-color: #292929;
}

    .vLsFwd {
        background: transparent !important;
    }

.jCVEDd {
    background: #292929;
}

.bvzp8c {
    background-color: #292929 !important;
}
    /*bordes*/
    .jTj8gd.XzOhkf, .I87fLc.XzOhkf, .ordo2:focus {
        border: 1px solid dimgray;
    }

    .LpQB8e {
        border-bottom: 1px solid #dadce00a;
    }

    .I87fLc:not(.XzOhkf) .ZShpvc, .I87fLc:not(.XzOhkf) .Dwvecf, .ZShpvc {
        border-top: 1px solid dimgray;
    }

    .jTj8gd.XzOhkf .Sp3AF, .Pt010b .Sp3AF {
        border-right: 1px solid dimgray;
    }

    .iq5YBc {
        border-bottom: 1px solid #1b2023;
    }

    .k5v5Nb {
        border-top: 1px solid #1b2023;
    }

    .Rj2Mlf:not(:disabled), .Rj2Mlf:hover:not(:disabled), .Rj2Mlf:active:not(:disabled) {
        border-color: transparent !important;
    }

    .rm1UF {
        border-bottom-left-radius: 8px;
    }

.ita-kd-dropdown-menu, .vk-box, .vk-btn, .vk-btn.vk-sf-h, .vk-btn.vk-sf-s, .ita-kd-separator, .ita-hwt-ime-st, .ita-hwt-buttons, .ita-hwt-candidates, .ita-hwt-candidate {
    border-color: #292929;
}

#gb {
    border-color: #292929;
}

    .aCQag {
        border-bottom: 1px solid #131719;
    }

    .ccvoYb {
        border-top: 1px solid #131719;
    }

    .ySES5, .myVd4c .ySES5, .vk-btn.vk-sf-a {
        border-color: dimgray !important;
    }

    .v2OCrb, .gb_rb.gb_rb {
        border: 1px solid #dadce033;
    }

    .WFnNle, .zWtKC, .WtlSJf {
        border: 1px solid #00000040;
    }

    .gb_Bb {
        border-bottom: 1px solid #212629;
        border-top: 1px solid #212629;
    }
    /*colores de texto*/
    .VfPpkd-fmcmS-yrriRe:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-fmcmS-TvZj5c-OWXEXe-M1Soyc, .VfPpkd-fmcmS-yrriRe:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-fmcmS-TvZj5c-OWXEXe-UbuQg {
        color: #ffffff8a;
    }

    .uqiNJb, .AP34ab, .pt8wXd, .zRANPd:not(:disabled), .q6oraf .VfPpkd-rymPhb, .vxsGZ, .HswdMd, .mTQVx, .ZQWYD, .aWlm2e, .irVajb, .cfWmIb:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-fmcmS-wGMbrd, .aia4Ud, .ita-kd-menuitem, .vk-btn, .ita-hwt-candidate, .XMNbjd, .VK4HE:hover .dPxysd, .VK4HE:focus .dPxysd, .qTO0c:hover .dPxysd, .qTO0c:focus .dPxysd, .ordo2, .KskmCc, .AarNVd, .MXuJQd, .er8xn, .KmsAmb .tL9Q4c, .J0lOec, .uNr6ee, .fEU59c, .v2OCrb, .WFnNle, .qSb8Pe, .NqnNQd, .lRu31, .lrSgmd {
        color: #ddd !important;
    }

        .kgJkHd, .Rq5Gcb, .vk-btn.vk-sf-h, .vk-btn.vk-sf-a, .JJYS0b:hover .VfPpkd-jY41G-V67aGc, .JJYS0b:active .VfPpkd-jY41G-V67aGc, .JJYS0b:focus .VfPpkd-jY41G-V67aGc, .S6GkK, .tAzJq:hover, .kgnlhe.FwR7Pc, .MtFg0.FwR7Pc, .G3Fn7c {
            color: white !important;
        }

    .HYAIUe {
        color: dimgray;
    }

    .ordo2.KKjvXb {
        color: #185abc;
    }

    .yUUmWd.VfPpkd-AznF2e-OWXEXe-auswjd .VfPpkd-jY41G-V67aGc {
        color: #1a73e8;
    }

    .TcXXXb, .yUUmWd .VfPpkd-jY41G-V67aGc, .JVGQzb, .VhOj3e, .nL5otb, .jCVEDd, .W5CUef {
        color: #acacac !important;
    }

    .q7sDqe:not(:disabled) .VfPpkd-kBDsod, .q7sDqe:not(:disabled), .SSgGrd:not(:disabled), .xUPQqb, .RSggmb, .nYkDR, .ZTPlmc {
        color: #a6a6a6;
    }

    .ita-kd-menuitem-hover, .ita-hwt-jfk, .phrasebook-container .language-chip, .gb_rb.gb_rb {
        color: #ddd !important;
    }

    .notification-container .notification-body {
        color: #ffffff87;
    }

    .sl-sugg .goog-inline-block.jfk-button-checked, .tl-sugg .goog-inline-block.jfk-button-checked {
        color: #4285f4 !important;
    }

    .myVd4c .TcXXXb {
        color: #1a73e8 !important;
    }

    .qSb8Pe.KKjvXb {
        color: #185abc !important;
    }

    .yFQBKb {
        color: #ddd !important;
    }

    .Xcmxjb.FwR7Pc {
        color: transparent !important;
    }
    /*variados*/
    .NdeSHd {
        box-shadow: 0 -1px 3px #262728cf;
    }

    .ita-hwt-enter-img.ita-hwt-enter-img-dark.ita-kd-img.ita-hwt-enter-img-white {
        filter: invert(7%);
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 3px;
    }

    ::-webkit-scrollbar-track-piece {
        background-color: #131719;
    }

    ::-webkit-scrollbar-thumb {
        height: 50px;
        background-color: #666;
        border-radius: 3px;
    }

    ::-webkit-resizer {
        background-color: #666;
    }

    .swap > .jfk-button-img, .src-tts .jfk-button-img, .speech-button .jfk-button-img, .clear .jfk-button-img, .starbutton .jfk-button-img, .copybutton .jfk-button-img, .ttsbutton-res .jfk-button-img, .vk-t-btn, .gt-clear .jfk-button-img, .language_list_item_wrapper.item-emphasized:not(.item-selected) .language_list_item_icon, .ita-hwt-grip, .ita-kd-img, .history-top-header .close-button, .phrasebook-top-header .close-button, .gt-is-mobile .gt-is-ca, .trans-verified-button, .gt-lc.gt-lc-mobile .gt-def-num, .gt-cc-t .gt-cc-bc .big-clear-button .jfk-button-img, .gt-cc-t .gt-cc-tc .gt-ct-tts.trans-listen-button .jfk-button-img {
        filter: invert(1);
    }

