html, html * {
    color: #eeeeee !important;
    /*border-color: #555555 !important;*/
    background-color: #292929 !important;
}

html, body, html::before, body::before {
  background-image: none !important;
}

img, video {z-index: 1}
cite, cite * {color: #029833 !important}
video {background-color: transparent !important}
input, textarea {background-color: #333333 !important}
input, select, button {background-image: none !important}
a {background-color: rgba(255, 255, 255, 0.01) !important}

:before {color: #eeeeee !important}
:link, :link * {color: #8db2e5 !important}
:visited, :visited * {color: rgb(211, 138, 138) !important}

#lightbox-nav {
    opacity: 0.0;
}

::-webkit-scrollbar {
    width: 15px;
    height: 3px;
}

::-webkit-scrollbar-track-piece {
    background-color: #525252;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: dimgray;
    border-radius: 3px;
}