<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LinguaHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TestProj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LinguaHelper.Properties.Settings>
            <setting name="DataPath" serializeAs="String">
                <value>data.ini</value>
            </setting>
            <setting name="DarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReverseOrderHisroty" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSortByDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OALDLoginOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HistoryBackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskFilePath" serializeAs="String">
                <value>Tasks.docx</value>
            </setting>
            <setting name="DarkCSSColorThemePath" serializeAs="String">
                <value>css\dark.mode.css</value>
            </setting>
            <setting name="OALDPass" serializeAs="String">
                <value />
            </setting>
            <setting name="OALDUser" serializeAs="String">
                <value />
            </setting>
            <setting name="OALDUserID" serializeAs="String">
                <value>teach_email</value>
            </setting>
            <setting name="OALDPassID" serializeAs="String">
                <value>teach_password</value>
            </setting>
            <setting name="OALDSubmitID" serializeAs="String">
                <value>teach_btn-login</value>
            </setting>
            <setting name="OALD_URL" serializeAs="String">
                <value>https://www.oxfordlearnersdictionaries.com/search/english/?q=</value>
            </setting>
            <setting name="GT_URL" serializeAs="String">
                <value>https://translate.google.am/?sl=en&amp;tl=ru&amp;hl=en&amp;text=</value>
            </setting>
            <setting name="Urban_URL" serializeAs="String">
                <value>https://www.urbandictionary.com/define.php?term=</value>
            </setting>
            <setting name="GT_Name" serializeAs="String">
                <value>Google Translator</value>
            </setting>
            <setting name="OALDPrepareURL" serializeAs="String">
                <value>https://www.oxfordlearnersdictionaries.com/account/login</value>
            </setting>
            <setting name="Cambridge_URL" serializeAs="String">
                <value>https://dictionary.cambridge.org/dictionary/english-russian/</value>
            </setting>
            <setting name="Wiki_URL" serializeAs="String">
                <value>https://en.wikipedia.org/wiki/</value>
            </setting>
            <setting name="firstTabName" serializeAs="String">
                <value />
            </setting>
            <setting name="OALD_AcceptAllCookies_ID" serializeAs="String">
                <value>onetrust-accept-btn-handler</value>
            </setting>
            <setting name="GoogleSearchURL" serializeAs="String">
                <value>https://www.google.com/search?q=</value>
            </setting>
            <setting name="GoogleSearchRequestParams" serializeAs="String">
                <value>+meaning</value>
            </setting>
            <setting name="DarkCSSGTranslator" serializeAs="String">
                <value>css\dark.mode.google.translator.css</value>
            </setting>
            <setting name="DarkBackground" serializeAs="String">
                <value>#282828</value>
            </setting>
            <setting name="DarkForeground" serializeAs="String">
                <value>#dadada</value>
            </setting>
            <setting name="ForceLoadFromBrowse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OALD_AudioButton_ID" serializeAs="String">
                <value>sound audio_play_button pron-us icon-audio</value>
            </setting>
            <setting name="SpeakOnBrowsingOALD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GoogleDarkThemeJS" serializeAs="String">
                <value>ToggleGoogleTheme("dark");</value>
            </setting>
            <setting name="GoogleLightThemeJS" serializeAs="String">
                <value>ToggleGoogleTheme("light");</value>
            </setting>
            <setting name="GoogleColorThemePrepareJS" serializeAs="String">
                <value>function ToggleGoogleTheme(desiredTheme) 
{
//alert("OK");
  var toggleClassName = 'q0yked';
  var toggleElements = document.getElementsByClassName(toggleClassName);

	if (toggleElements.length &gt; 3) 
	{
		var darkModeToggle = toggleElements[3].children[0];
		var toggleText = darkModeToggle.innerText;

		var isDarkModeCurrentlyOn = toggleText.includes('On');
		var isLightModeCurrentlyOn = toggleText.includes('Off');

		if(desiredTheme === 'light' &amp;&amp; !isLightModeCurrentlyOn)
		{
			localStorage.setItem('themeChange', 'lightPending');
			darkModeToggle.click();
		}
		else if(desiredTheme === 'dark' &amp;&amp; !isDarkModeCurrentlyOn)
		{
			localStorage.setItem('themeChange', 'darkPending');
			darkModeToggle.click();
		}
	}
}
function checkThemeChange() {
  if (localStorage.getItem('themeChange') === 'lightPending') {
    // Clear the flag first to prevent an infinite loop.
    localStorage.removeItem('themeChange');
    
    // Then perform the second click.
    ToggleGoogleTheme('light');
  }
  else if (localStorage.getItem('themeChange') === 'darkPending')
  {
	  // Clear the flag first to prevent an infinite loop.
    localStorage.removeItem('themeChange');
    
    // Then perform the second click.
    ToggleGoogleTheme('dark');
  }
}

// Call this function on page load.
document.addEventListener('DOMContentLoaded', checkThemeChange);</value>
            </setting>
        </LinguaHelper.Properties.Settings>
        <TestProj.Properties.Settings>
            <setting name="DataPath" serializeAs="String">
                <value>data.ini</value>
            </setting>
            <setting name="DarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReverseOrderHisroty" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSortByDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OALDLoginOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HistoryBackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskFilePath" serializeAs="String">
                <value>Tasks.docx</value>
            </setting>
            <setting name="DarkCSSColorThemePath" serializeAs="String">
                <value>css\dark.mode.css</value>
            </setting>
            <setting name="OALDPass" serializeAs="String">
                <value />
            </setting>
            <setting name="OALDUser" serializeAs="String">
                <value />
            </setting>
            <setting name="OALDUserID" serializeAs="String">
                <value>teach_email</value>
            </setting>
            <setting name="OALDPassID" serializeAs="String">
                <value>teach_password</value>
            </setting>
            <setting name="OALDSubmitID" serializeAs="String">
                <value>teach_btn-login</value>
            </setting>
            <setting name="OALD_URL" serializeAs="String">
                <value>https://www.oxfordlearnersdictionaries.com/search/english/?q=</value>
            </setting>
            <setting name="GT_URL" serializeAs="String">
                <value>https://translate.google.am/?sl=en&amp;tl=ru&amp;hl=en&amp;text=</value>
            </setting>
            <setting name="Urban_URL" serializeAs="String">
                <value>https://www.urbandictionary.com/define.php?term=</value>
            </setting>
            <setting name="GT_Name" serializeAs="String">
                <value>Google Translator</value>
            </setting>
            <setting name="OALDPrepareURL" serializeAs="String">
                <value>https://www.oxfordlearnersdictionaries.com/account/login</value>
            </setting>
            <setting name="Cambridge_URL" serializeAs="String">
                <value>https://dictionary.cambridge.org/dictionary/english-russian/</value>
            </setting>
            <setting name="Wiki_URL" serializeAs="String">
                <value>https://en.wikipedia.org/wiki/</value>
            </setting>
            <setting name="firstTabName" serializeAs="String">
                <value />
            </setting>
            <setting name="OALD_AcceptAllCookies_ID" serializeAs="String">
                <value>onetrust-accept-btn-handler</value>
            </setting>
            <setting name="GoogleSearchURL" serializeAs="String">
                <value>https://www.google.com/search?q=</value>
            </setting>
            <setting name="GoogleSearchRequestParams" serializeAs="String">
                <value>+meaning</value>
            </setting>
            <setting name="DarkCSSGTranslator" serializeAs="String">
                <value>css\dark.mode.google.translator.css</value>
            </setting>
            <setting name="GoogleThemeClassName" serializeAs="String">
                <value>dluk7e</value>
            </setting>
            <setting name="DarkBackground" serializeAs="String">
                <value>#282828</value>
            </setting>
            <setting name="DarkForeground" serializeAs="String">
                <value>#dadada</value>
            </setting>
            <setting name="ForceLoadFromBrowse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OALD_AudioButton_ID" serializeAs="String">
                <value>sound audio_play_button pron-us icon-audio</value>
            </setting>
            <setting name="SpeakOnBrowsingOALD" serializeAs="String">
                <value>True</value>
            </setting>
        </TestProj.Properties.Settings>
    </userSettings>
</configuration>