body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#content {
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    max-width: 600px;
    width: 300px;
    margin: auto;
}

h1 {
    color: #2c3e50;
    font-size: 1.0em;
}

/* Dynamic Style Placeholders */
/* Add your dynamic styles below or inject them using JavaScript */
