<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestProj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TestProj.Properties.Settings>
            <setting name="DataPath" serializeAs="String">
                <value>data.ini</value>
            </setting>
            <setting name="DarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReverseOrderHisroty" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSortByDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OALDLoginOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HistoryBackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskFilePath" serializeAs="String">
                <value>Tasks.docx</value>
            </setting>
            <setting name="DarkCSSColorThemePath" serializeAs="String">
                <value>css\dark.mode.css</value>
            </setting>
            <setting name="OALDPass" serializeAs="String">
                <value />
            </setting>
            <setting name="OALDUser" serializeAs="String">
                <value />
            </setting>
            <setting name="OALDUserID" serializeAs="String">
                <value>teach_email</value>
            </setting>
            <setting name="OALDPassID" serializeAs="String">
                <value>teach_password</value>
            </setting>
            <setting name="OALDSubmitID" serializeAs="String">
                <value>teach_btn-login</value>
            </setting>
            <setting name="OALD_URL" serializeAs="String">
                <value>https://www.oxfordlearnersdictionaries.com/search/english/?q=</value>
            </setting>
            <setting name="GT_URL" serializeAs="String">
                <value>https://translate.google.am/?hl=en#view=home&amp;op=translate&amp;sl=en&amp;tl=ru&amp;text=</value>
            </setting>
            <setting name="Urban_URL" serializeAs="String">
                <value>https://www.urbandictionary.com/define.php?term=</value>
            </setting>
            <setting name="GT_Name" serializeAs="String">
                <value>Google Translator</value>
            </setting>
            <setting name="OALDPrepareURL" serializeAs="String">
                <value>https://www.oxfordlearnersdictionaries.com/account/login</value>
            </setting>
            <setting name="Cambridge_URL" serializeAs="String">
                <value>https://dictionary.cambridge.org/dictionary/english-russian/</value>
            </setting>
            <setting name="Wiki_URL" serializeAs="String">
                <value>https://en.wikipedia.org/wiki/</value>
            </setting>
            <setting name="firstTabName" serializeAs="String">
                <value />
            </setting>
            <setting name="OALD_AcceptAllCookies_ID" serializeAs="String">
                <value>onetrust-accept-btn-handler</value>
            </setting>
        </TestProj.Properties.Settings>
    </userSettings>
</configuration>